<!-- Habits -->
<% if (habit_type==1) { %>
  <% if (up) { %> <a href="#" class="vote-up"><img src="assets/add.png" /></a> <% } %>
  <% if (down) { %> <a href="#" class="vote-down"><img src="assets/remove.png" /></a> <% } %>
  
<!-- Rewards -->
<% } else if (habit_type==4) { %>
  <a class="vote-down" href=#><img src="assets/dollar.png" /></a>

<!-- Daily & Todos -->
<% } else { %>  
  <input type="checkbox" <%= done ? "class='vote-down' checked='checked'" : "class='vote-up'" %>/>
  
<% } %>

<span class="habit-text"><%= name %></span>

<div class='habit-meta'>
  <div class='hover-show'>
    <a href="#/<%= id %>/edit">Edit</a>
    <% if (habit_type!=4) { %>
      <%= score %><img height="20px" src="assets/coin_single_gold.png"/>
    <% } %>
  </div>
  <% if (notes) { %>
    <img src='/assets/comment.png' class="comment" />
    <div class='qtip'><%= notes %></div>
  <% } %>
  <% if (habit_type==4) { %>
    <%= score %><img height="20px" src="assets/coin_single_gold.png"/>
  <% } %>
</div>